name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    name: Build & Tests & Lint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
    - uses: gradle/actions/setup-gradle@0723195856401067f7a2779048b490ace7a47d7c # v5.0.2
      with:
        validate-wrappers: true
    - run: ./gradlew assembleDebug test lint --stacktrace
    - name: Upload APK
      uses: actions/upload-artifact@v6
      with:
        name: app-debug.apk
        path: app/build/outputs/apk/debug/app-debug.apk
    - name: Upload UnitTest reports
      uses: actions/upload-artifact@v6
      with:
        name: unit-tests-reports
        path: |
          **/reports/tests/
          **/build/test-results/**/TEST-*.xml
        if-no-files-found: ignore
    - name: Upload Lint reports
      uses: actions/upload-artifact@v6
      with:
        name: lint-reports
        path: |
          **/reports/lint-results-*.xml
          **/reports/lint-results-*.html
